<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Your Rooms</title>
</head>
<body>
<table>
    <tr>
        <th>Adress</th>
        <th>City</th>
        <th>State</th>
        <th>Price</th>
        <th>Status</th>
        <th>More</th>
    </tr>
    <tr th:each="room : ${myRooms}">
        <td th:text="${room.address}"></td>
        <td th:text="${room.city}"></td>
        <td th:text="${room.state}"></td>
        <td th:text="${room.price}"></td>
        <td th:text="${room.status}"></td>
        <td>
            <a th:href="@{/update/{roomId}(roomId=${room.roomId})}">Update</a>
        </td>
    </tr>
</table>
</body>
</html>