<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Rooms</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" href="/assets/css/argon.min.css" rel="stylesheet">

</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${room}"
      method="post">
    <div class="row">
        <div class="col-md-6">
        <input type="hidden" th:field="*{roomId}"/>

            <div class="form-group">
                <input type="text" placeholder="Adress" class="form-control" th:field="*{address}"/>
                <span th:if="${#fields.hasErrors('address')}"
                      th:errors="*{address}"></span><br/>
            </div>


            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"
                          th:field="*{description}"></textarea>
                <span th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}"></span><br/>
            </div>


        <div class="custom-control custom-checkbox mb-3" >
            <span>Wifi</span><br />
            <input class="custom-control-input" value="Wifi Available" id="customCheck1" type="checkbox" th:field="*{wifi}">
            <label class="custom-control-label" for="customCheck1">Yes</label><span>    </span>
            <input class="custom-control-input" value="No wifi Access" id="customCheck2" type="checkbox" th:field="*{wifi}">
            <label class="custom-control-label" for="customCheck2">No</label>
        </div>


            <div class="form-group">
                <input type="text" placeholder="City" class="form-control" th:field="*{city}"/>
                <span th:if="${#fields.hasErrors('city')}"
                      th:errors="*{city}"></span><br/>
            </div>

            <div class="form-group">
                <input type="text" placeholder="State" class="form-control" th:field="*{state}"/>
                <span th:if="${#fields.hasErrors('state')}"
                      th:errors="*{state}"></span><br/>
            </div>


            <div class="form-group">
                <input type="text" placeholder="Price" class="form-control" th:field="*{price}"/>
                <span th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}"></span><br/>
            </div>


            <div class="form-group">
                <input type="text" placeholder="Rules" class="form-control" th:field="*{rules}"/>
                <span th:if="${#fields.hasErrors('rules')}"
                      th:errors="*{rules}"></span><br/>

        </div>

            <div class="form-group" id="sel1">
                <label for="sel1">Cable</label><br />
                <select class="form-control" th:field="*{cable}">
                    <option value="none">None</option>
                    <option value="premium">Premium</option>
                    <option value="basic">Basic</option>
                </select>
            </div>


            <div class="form-group" id="sel2">
                <label for="sel2">Bath</label><br />
                <select class="form-control" th:field="*{bath}">
                    <option value="private">Private</option>
                    <option value="Not private">Not Private</option>
                  </select>
            </div>


        <div class="custom-control custom-checkbox mb-3" >
            <span>Status</span><br />
            <input class="custom-control-input" value="Rented" id="customCheck4" type="checkbox" th:field="*{status}">
            <label class="custom-control-label" for="customCheck4">Rented</label>
        </div>

        <button type="submit" class="btn btn-outline-success" >Save</button>
        </div>
    </div>
</form>
<!--<form action="#"-->
      <!--th:action="@{/process}"-->
      <!--th:object="${room}"-->
      <!--method="post">-->
    <!--<input type="hidden" th:field="*{roomId}"/>-->
    <!--Adress:<input type="text" th:field="*{address}"/>-->
    <!--<span th:if="${#fields.hasErrors('address')}"-->
          <!--th:errors="*{address}"></span><br/>-->

    <!--Description:<textarea rows="3" th:field="*{description}"/>-->
    <!--<span th:if="${#fields.hasErrors('description')}"-->
          <!--th:errors="*{description}"></span><br/>-->

    <!--Wifi:<input type="text" th:field="*{wifi}"/>-->
    <!--<span th:if="${#fields.hasErrors('wifi')}"-->
          <!--th:errors="*{wifi}"></span><br/>-->

    <!--City:<input type="text" th:field="*{city}"/>-->
    <!--<span th:if="${#fields.hasErrors('city')}"-->
          <!--th:errors="*{city}"></span><br/>-->

    <!--State:<input type="text" th:field="*{state}"/>-->
    <!--<span th:if="${#fields.hasErrors('state')}"-->
          <!--th:errors="*{state}"></span><br/>-->

    <!--Price:<input type="text" th:field="*{price}"/>-->
    <!--<span th:if="${#fields.hasErrors('price')}"-->
          <!--th:errors="*{price}"></span><br/>-->

    <!--Rules:<input type="text" th:field="*{rules}"/>-->
    <!--<span th:if="${#fields.hasErrors('rules')}"-->
          <!--th:errors="*{rules}"></span><br/>-->

    <!--Cable:<input type="text" th:field="*{cable}"/>-->
    <!--<span th:if="${#fields.hasErrors('cable')}"-->
          <!--th:errors="*{cable}"></span><br/>-->

    <!--Bath:<input type="text" th:field="*{bath}"/>-->
    <!--<span th:if="${#fields.hasErrors('bath')}"-->
          <!--th:errors="*{bath}"></span><br/>-->


    <!--Status:<input type="text" th:field="*{status}"/>-->
    <!--<span th:if="${#fields.hasErrors('status')}"-->
          <!--th:errors="*{status}"></span><br/>-->

    <!--<input type="submit" value="Submit Here">-->
<!--</form>-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/argon.min.js"></script>

</body>
</html>


